<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Group List</title>
</head>
<body>

<div layout:fragment="content">
    <section class="my-5">
        <div class="container">
            <h2>Group List</h2>
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="group: ${groups}">
                            <td th:text="${group.id}" />
                            <td th:text="${group.name}" />
                            <td th:text="${group.description}" />
                            <td th:switch="${group.isMember(currentUser)}">
                                <a th:case="true" class="btn btn-primary" th:href="@{'/group/' + ${group.id}}">View</a>
                                <form th:case="false" th:action="@{/group/join}" th:object="${group}" method="post">
                                    <input type="hidden" th:value="${group.id}" name="id"/>
                                    <input type="submit" class="btn btn-primary" value="Join"/>
                                </form>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
</div>

</body>
</html>