<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Group</title>
</head>
<body>

<div layout:fragment="content">
    <section class="my-5">
        <div class="container">
            <h2>Welcome to group <span th:text="${group.name}"</span></h2>
            <a class="btn btn-primary" th:href="@{'/group/' + ${group.id} + '/story/add'}" role="button">Share a new story</a>
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-body bg-light mt-3" th:each="story: ${group.getStories()}">
                        <h3 th:text="${story.title}"></h3>
                        <p th:text="${story.content}"></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

</body>
</html>