<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>Opportunity List</title>
</head>
<body>

<div layout:fragment="content">
    <section class="my-5">
        <div class="container">
            <h2>Opportunity List</h2>
            <a sec:authorize="hasAuthority('SERVICE_PROVIDER')" class="btn btn-primary" th:href="@{/opportunity/advertise}" role="button">Add a new opportunity</a>
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Location</th>
                            <th>Start</th>
                            <th>End</th>
                            <th sec:authorize="hasAuthority('STUDENT')">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="opportunity: ${opportunities}">
                            <td th:text="${opportunity.id}" />
                            <td th:text="${opportunity.name}" />
                            <td th:text="${opportunity.location}" />
                            <td th:text="${opportunity.start}" />
                            <td th:text="${opportunity.end}" />

                            <td sec:authorize="hasAuthority('STUDENT')" th:switch="${opportunity.hasApplied(currentUser)}">
                                <form th:case="false" th:action="@{/opportunity/apply}" th:object="${opportunity}" method="post">
                                    <input type="hidden" th:value="${opportunity.id}" name="id"/>
                                    <input type="submit" class="btn btn-primary" value="Apply"/>
                                </form>
                                <span th:case="true">Successfully applied</span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
</div>

</body>
</html>