<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Student Applications</title>
</head>
<body>

<div layout:fragment="content">
    <section class="my-5">
        <div class="container">
            <h2>Student Applications</h2>
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-striped">
                        <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Location</th>
                        <th>Start</th>
                        <th>End</th>
                        <th>Student Applicants</th>
                    </tr>
                    </thead>
                        <tbody>
                        <tr th:each="opportunity: ${opportunities}">
                            <td th:text="${opportunity.id}" />
                            <td th:text="${opportunity.name}" />
                            <td th:text="${opportunity.location}" />
                            <td th:text="${opportunity.start}" />
                            <td th:text="${opportunity.end}" />
                            <td>
                                <div th:each="student: ${opportunity.students}">
                                    <p><span th:text="${student.firstname}"/> <span th:text="${student.lastname}"/></p>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
</div>

</body>
</html>